@import "tailwindcss";

@theme {
  --font-heading: "Playfair Display", serif;
  --font-body: "Lato", sans-serif;
  
  --color-primary: #1A3622;
  --color-primary-light: #2c5837;
  --color-accent: #D4AF37;
  --color-stone-white: #F9F9F7;
}

@layer base {
  body {
    @apply font-body text-gray-800 bg-white;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
